# OS-specific files
.DS_Store
Thumbs.db

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React Native
.expo/
.expo-shared/

# Babel
.babelrc

# Android
android/.gradle/
android/.idea/
android/app/build/
android/build/
android/local.properties
android/*.keystore
android/*.jks

# iOS
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata/
ios/*.xcuserdatad/
ios/*.xcuserstate

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Env files
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs/
*.log

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# Miscellaneous
*.p12
*.key
*.mobileprovision
*.orig

# Ignore all files in the following directories
**/dist/
**/coverage/
**/tmp/
**/temp/